
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCatalog</title>
</head>
<body>
    <a href="/Menu">Home</a>
    <div>
    </div>
</body>
</html>
